.navbar {
  background-color: #333;
  color: #fff;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.navbar-toggle {
  background: none;
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

.navbar-menu {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  transition: max-height 0.3s ease-in-out;
  max-height: 0;
  overflow: hidden;
}

.navbar-menu.show {
  max-height: 200px; /* Adjust the height as needed */
}

.navbar-item {
  padding: 10px;
}
